:root {
    --main-bg-color: #fff;
    --police: "Inter", sans-serif;

    /* PALETTE */
    --primary-color: #d12828;
}

body {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;

    font-family: var(--police);
    overflow: hidden;

    background: var(--main-bg-color);
    height: 100vh;
    max-height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.5em;
}

main {
    flex: 1;
}

.header-titles {
    text-align: center;
    letter-spacing: 0.5em;
}

.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    width: 100%;

    margin: 2em 0;
}

.section-actions_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    width: 100%;
    padding: 15px;
    background: #8a7e7e;
}

.section-actions_container-elem {
    width: 70px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #6d6b6b;
}

.section-accounts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    padding: 15px;
    background: #8a7e7e;
}

.section-accounts > H3 {
    display: flex;
}

.section-accounts_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.section-actions_container-elem {
    border-radius: 5px;

    font-size: 0.8rem;
}

.section-accounts_cards {
    display: flex;
    justify-content: start;
    flex-direction: column;

    position: relative;

    width: 100px;
    height: 100px;
    border-radius: 10px;
    padding-left: 5px;


    background: #dfc9c9;
}

.section-accounts_title {
    font-size: 0.5.rem;
    font-weight: 900;

    width: 100%;
}

.section-accounts_owner {
    font-size: 0.5.rem;
    font-weight: 500;

    width: 100%;
}

.section-accounts_cards--add {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-accounts_cards--icon {
    width: 2rem;
}

.section-accounts_amount {
    position: absolute;

    bottom: 0.5rem;
    right: 0.5rem;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;

    width: 100%;

    background: #e7d3d3;
}

footer > a {
    text-align: center;
    text-decoration: none;

    padding: 10px;
}

.features-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;

    padding: 2px 20px;
}

.features-btn > a {
    background: #d12828;

    width: 30%;
}

.features--scan-btn,
.features--receive-btn {
    width: 150px;
}

.connect {
    text-align: center;
    width: 80%;

    background: #cf5d5d;
}