@font-face {
    font-family: 'Iceland';
    src: url('./font/Iceland/Iceland-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./font/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./font/Montserrat/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import './responsive.css';

:root {
    /* COLOR */
    --red: #ff0000;

    /* RESPONSIVE */
    --container-modbile: 150px;

    /* PALETTE */
    --primary: #6d32fa;
    --secondary: #9383e5;
    --accent: #830303;

    /* BACKGROUND */
    --bg: linear-gradient(90deg, var(--primary), var(--secondary));
}

body {
    position: relative;

    margin: 0;
    padding: 0;

    background: var(--bg);
}


#hide-menu {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: absolute;
    z-index: 999;

    right: 0;

    width: 100%;
    height: 95vh;

    background: rgb(37, 33, 33);

    gap: 25px;

    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
}

#hide-menu a {
    font-size: 20px;
    color: initial;
    text-decoration: none;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;

    gap: 20px;
    padding: 10px 20px;
    width: 80%;

    margin: 15px auto;
    border-radius: 25px;
}

header>img {
    width: 75px;
}

header>h1 {
    font-family: 'Iceland', sans-serif;
    margin: 0;
}

#logging {
    display: flex;
}

#burgermenu {
    display: none;
}

#burgermenu i {
    font-size: 50px;
    color: white;
    cursor: pointer;
}

.connect {
    padding: 10px 20px;
    background-color: var(--red);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.signin {
    padding: 10px 20px;
    background-color: white;
    color: var(--red);
    border: 2px solid var(--red);
    border-radius: 5px;
    cursor: pointer;
}

/* EFFECT */

.liquid-glass {
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}


.hide {
    display: none;
}